services:
  db:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: feedback
      MYSQL_USER: root
      MYSQL_PASSWORD: Rahul@12345
      MYSQL_ROOT_PASSWORD: Rahul@12345
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always

  backend:
    build: ./BACKEND
    container_name: spring-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/feedback
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Rahul@12345
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - db
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build: ./FRONTEND
    container_name: react-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
    restart: always

volumes:
  db_data:
